# Finance & Analytics Club


Please search and understand how TRY & EXCEPT command is used in python before going through this exercise


Import necessary libraries

In [1]:
import pandas as pd
import pandas_datareader.data as pdr
import datetime as dt

First we will extract 3 year data of Amazon then we'll extract the 3 year closed price data for 50 different stocks.

In [2]:
ticker = "MSFT"   #stock code goes here, you can visit yahoo finance to get your favorite stocks code!!
start_date = dt.date.today() - dt.timedelta(1096)  #366 represents number of days you wanna go back
end_date = dt.date.today()

In [3]:
data = pdr.get_data_yahoo(ticker, start_date, end_date)
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-06-26,71.709999,70.440002,71.400002,70.529999,19607000.0,67.246498
2017-06-27,70.180000,69.180000,70.110001,69.209999,25215100.0,65.987953
2017-06-28,69.839996,68.790001,69.209999,69.800003,25806200.0,66.550499
2017-06-29,69.489998,68.089996,69.379997,68.489998,28918700.0,65.301483
2017-06-30,69.379997,68.739998,68.779999,68.930000,24161100.0,65.720985
...,...,...,...,...,...,...
2020-06-19,199.289993,194.369995,198.589996,195.149994,44441100.0,195.149994
2020-06-22,200.759995,195.229996,195.789993,200.570007,32818900.0,200.570007
2020-06-23,203.949997,201.429993,202.089996,201.910004,30917400.0,201.910004
2020-06-24,203.250000,196.559998,201.600006,197.839996,36740600.0,197.839996
2020-06-25,200.610001,195.470001,197.800003,200.339996,27762400.0,200.339996

In [4]:
data = pdr.get_data_yahoo(ticker, start_date, end_date, interval = 'wk')  # use interval to get weakly(wk) or monthly(mo) data
data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-06-26,71.709999,68.089996,71.400002,68.930000,123708100.0,65.720985
2017-07-03,69.839996,68.019997,69.330002,69.459999,75337700.0,66.226318
2017-07-10,73.269997,69.199997,69.459999,72.779999,96363300.0,69.391769
2017-07-17,74.300003,72.660004,72.800003,73.790001,159733500.0,70.354736
2017-07-24,74.419998,72.320000,73.529999,73.040001,114816600.0,69.639641
...,...,...,...,...,...,...
2020-06-01,187.729996,181.350006,182.539993,187.199997,149383400.0,187.199997
2020-06-08,198.520004,184.440002,185.940002,187.740005,203068200.0,187.740005
2020-06-15,199.289993,184.009995,184.580002,195.149994,168485500.0,195.149994
2020-06-22,203.949997,195.229996,195.789993,200.339996,128239300.0,200.339996
2020-06-25,200.610001,195.479996,197.800003,200.339996,26321553.0,200.339996

### We'll try to extract single year data for 50 stocks.

In [5]:
tickers = ["ASIANPAINT.NS","ADANIPORTS.NS","AXISBANK.NS","BAJAJ-AUTO.NS",
           "BAJFINANCE.NS","BAJAJFINSV.NS","BPCL.NS","BHARTIARTL.NS",
           "INFRATEL.NS","CIPLA.NS","COALINDIA.NS","DRREDDY.NS","EICHERMOT.NS",
           "GAIL.NS","GRASIM.NS","HCLTECH.NS","HDFCBANK.NS","HEROMOTOCO.NS",
           "HINDALCO.NS","HINDPETRO.NS","HINDUNILVR.NS","HDFC.NS","ITC.NS",
           "ICICIBANK.NS","IBULHSGFIN.NS","IOC.NS","INDUSINDBK.NS","INFY.NS",
           "KOTAKBANK.NS","LT.NS","LUPIN.NS","M&M.NS","MARUTI.NS","NTPC.NS",
           "ONGC.NS","POWERGRID.NS","RELIANCE.NS","SBIN.NS","SUNPHARMA.NS",
           "TCS.NS","TATAMOTORS.NS","TATASTEEL.NS","TECHM.NS","TITAN.NS",
           "UPL.NS","ULTRACEMCO.NS","VEDL.NS","WIPRO.NS","YESBANK.NS","ZEEL.NS"]  #get your 50 stocks

In [6]:
stock_cp = pd.DataFrame() # dataframe to store close price of each ticker
attempt = 0 # initializing passthrough variable
drop = [] # initializing list to store tickers whose close price was successfully extracted

In [7]:
# you must understand that getting 3 years data for 50 stocks will be a long process and
# the following code will take atleast a minute to run depending on your internet speed 
# and system. It may sometime happen that during this process your API stops working, 
# therefore you need to run the problem a few times to get all the data complete.  
while len(tickers) != 0 and attempt <= 5:
    tickers = [j for j in tickers if j not in drop] # removing stocks whose data has been 
                                                    # extracted from the ticker list
    for i in range(len(tickers)):
        try:
            temp = pdr.get_data_yahoo(tickers[i], dt.date.today()-dt.timedelta(1095), dt.date.today())
            temp.dropna(inplace = True)  # will drop NAN values if the program finds any
            stock_cp[tickers[i]] = temp["Adj Close"]
            drop.append(tickers[i])       
        except:
            print(tickers[i]," :failed to fetch data...retrying")
            continue
    attempt+=1

In [8]:
stock_cp

,ASIANPAINT.NS,ADANIPORTS.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJFINANCE.NS,BAJAJFINSV.NS,BPCL.NS,BHARTIARTL.NS,INFRATEL.NS,CIPLA.NS,...,TATAMOTORS.NS,TATASTEEL.NS,TECHM.NS,TITAN.NS,UPL.NS,ULTRACEMCO.NS,VEDL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2017-06-27,1111.032593,360.478302,487.449432,2498.626221,1338.735962,4029.599365,338.886871,333.028229,316.735596,525.757568,...,442.299988,457.887787,350.609528,506.622620,545.564270,3848.155518,195.203384,190.477844,273.361084,481.835693
2017-06-28,1086.542114,357.341125,486.608734,2496.603271,1360.949829,4101.583984,341.461548,338.183899,319.408295,527.920959,...,442.500000,466.581757,361.816833,498.080750,544.127747,3927.889160,199.648239,191.850906,279.965759,474.732605
2017-06-29,1082.035767,357.341125,506.488464,2518.404297,1364.867188,4092.199219,346.639160,342.890442,320.893158,534.706177,...,435.600006,479.532379,358.680634,500.338928,539.978699,3923.423584,206.768234,192.519119,277.802826,478.945496
2017-06-30,1080.468384,355.919617,511.680939,2509.324219,1361.693726,4112.117188,354.030914,340.424866,317.796173,546.359131,...,432.549988,489.121826,352.362091,514.919128,549.027466,3928.732666,204.998535,191.814270,282.630829,481.394867
2017-07-03,1097.415649,360.772430,511.582062,2507.661377,1375.626831,4124.098633,359.539917,342.532104,337.480804,542.671387,...,430.250000,493.468842,351.670258,522.724609,559.283386,3968.177979,209.319931,192.741837,288.279541,480.562073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-22,1652.150024,349.600006,430.149994,2855.750000,2840.300049,6183.549805,385.149994,581.049988,222.850006,655.950012,...,102.650002,325.700012,548.500000,979.500000,446.200012,3825.250000,110.050003,218.050003,27.750000,177.050003
2020-06-23,1683.900024,355.649994,443.649994,2862.149902,3025.500000,6319.649902,392.000000,578.799988,232.350006,659.799988,...,104.400002,332.000000,558.799988,999.250000,463.100006,3942.800049,110.000000,220.600006,27.549999,181.949997
2020-06-24,1747.250000,351.850006,424.649994,2817.250000,2934.449951,6046.049805,378.549988,557.349976,233.050003,631.200012,...,104.800003,326.049988,560.950012,988.200012,444.950012,3821.600098,109.449997,218.199997,27.049999,174.100006
2020-06-25,1689.000000,344.000000,421.700012,2820.449951,3005.350098,6021.149902,370.250000,559.000000,228.449997,634.900024,...,103.800003,323.100006,554.150024,977.599976,442.899994,3802.350098,111.250000,218.199997,27.000000,172.350006
2020-06-26,1679.849976,343.399994,421.850006,2894.300049,2961.850098,5966.000000,392.549988,563.000000,223.050003,634.599976,...,103.250000,328.399994,563.849976,969.299988,443.399994,3850.199951,110.150002,225.850006,26.850000,176.600006